*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    min-width: 1200px;
    line-height: 1.6;
}
.logo{
    display: block;
    margin: 21px;
    padding: 27px;
    width: 122px;
    
}
nav{
    margin: auto;
    width: 1200px;
    height: 74px;
    color: #1A1A1A;
    
}
h1{
    font-size: 36px;
    color: #38526A;
    font-weight: bold;
    line-height: 49px;
}
p{
    color: #4D4D4D;
}
