

body{
    font-family: 'Open Sans', sans-serif;
    background: #b0b5b5;
}

li{
    text-decoration: none;
    list-style: none;
}
.conteiner{
    background: #10395F;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: right;
    width: 1200px;
    height: 44px;
    padding-right: 140px;
}
a {
    text-decoration: none;
    display: inline-block;
    
}
a i{
    font-size: 17px;
    margin-top: 30px;
    color: #FFFFFF;
    
}
.main-navigation{
    background-color: #FFFFFF;
    margin-top: 44px;
}
.logo{
    margin: 27px 958px 21px 120px;
}
nav{
    
    
}
h1{
    font-size: 36px;
    color: #38526A;
    letter-spacing: -1.2px;
    line-height: 49px;
}
p{
    color: #4D4D4D;
    font-size: 16px;
    line-height: 24px;
}